[2019-06-11 22:43] ktoddbrown opened #1 "Update documentation"
We need to update the read me and documentations to reflect this is a new flavor of ggplotgui.

[2019-06-13 22:48] clnsmth opened #2 "Migrate functions to this repository"
Functions developed in the _IMCR-Hackathon/Hackathon-Central-2019_ GitHub repository, and required by this R package, need to be moved to the /R directory of this repository.

[2019-06-13 23:09] sheilasaia opened #3 "data ingest into edi shiny app"

[2019-06-13 23:10] sheilasaia opened #4 "print console message to UI with edi data fetching status"

[2019-06-13 23:11] sheilasaia opened #5 "change sample data to displace dataset from edi"

[2019-06-13 23:13] sheilasaia opened #6 "copy temp data from repo to permanent location"

[2019-06-13 23:14] sheilasaia opened #7 "clean up gui (rejoin gui ui)"

[2019-06-13 23:15] sheilasaia opened #8 "create development branch for shiny app"

[2019-06-13 23:16] sheilasaia opened #9 "brainstorm package name"

[2019-06-13 23:17] sheilasaia opened #10 "write quick start guide for shiny app"

[2019-06-13 23:20] sheilasaia opened #11 "limit maximum number of rows for dataframes being read in"

[2019-06-13 23:20] sheilasaia opened #12 "finish data summary tab"
includes data table summary and report download button

[2019-06-13 23:22] sheilasaia commented on #12
see knitr document development made by @jhp7e @CoastalPlainSoils @alesiahallmark @vanderbi @atn38

[2019-06-13 23:26] sheilasaia opened #13 "data summary tab specialized selection for column variable"
talk to @alesiahallmark for more thoughts on this.

[2019-06-13 23:27] atn38 opened #14 "Static report: make one wrapper function"
This function will take the ingested and user-selected data entity (with data+metadata list structure) and generate a report. This function is a wrapper for all functions Static Team created.

On the GUI tab for data summary, either this function will execute on load or a button will activate the function.

[2019-06-13 23:28] sheilasaia opened #15 "fix data paste bug"

[2019-06-13 23:32] sheilasaia opened #16 "fix relevant variables for x and y axes selection"
right now the x and y axes selection only allow continuous variables but it'd be nice to have, for example, histograms that allow character and factor variables

[2019-06-13 23:40] sheilasaia opened #17 "break functions into separate files and put them in the R directory"
think about consistent naming conventions too

[2019-06-13 23:42] sheilasaia opened #18 "unit testing"
each developer should feel free to develop tests for their own functions

[2019-06-13 23:50] alesiahallmark opened #19 "expand functionality of time_detector function"
-make time_detector function work for POSIX objects
-increase report efficiency by reducing computing of coerced columns
-test with datasets that have more than once time column

[2019-06-13 23:53] wetlandscapes opened #20 "Implement continuous integration for Windows using appveyor"
[R Package Development 3: Travis/Appveyor and Continuous Integration](https://youtu.be/As5SM7-F02w)

Some additional info on using appveyor with R: https://github.com/krlmlr/r-appveyor

[2019-06-14 00:07] sheilasaia opened #21 "revisit project goals and double check necessary functionality"
see: https://github.com/IMCR-Hackathon/Hackathon-Central-2019/issues/8

[2019-06-14 18:06] clnsmth opened #22 "Clear tempdir() before reading in DOI in Shiny app"
Immediately after a user presses the "download data" button, the temporary directory (paste0(tempdir(), '/data_package') should be cleared of any previously downloaded data packages or the function will error out.

[2019-06-14 18:10] clnsmth opened #23 "Copy data package to user specified directory (GUI feature)"
Use the function `data_package_copy()` to copy the data package contents to a user specified directory when the user clicks the "download data package" button.

[2019-06-15 00:58] clnsmth opened #24 "Refactor read_data_archived()"
Hi team,

I'm deprecating the function `read_data_archived()` in favor of two new functions `data_package_download()` and `data_package_read()`. `read_data_archived()` was trying to do to much and failed to support all use cases required by our app.

I've added two other functions:
- `data_package_copy()` - Copies a data package from the temporary R environment directory to a user specified local

[2019-06-15 01:09] clnsmth commented on #24
Just pushed these changes up to the project repo.

[2019-06-15 01:09] #24 closed

[2019-06-15 16:26] clnsmth commented on #22
Hi @sheilasaia, this task may be performed by running `data_package_remove()`. No arguments necessary.

[2019-06-15 17:29] wetlandscapes commented on #9
No matter what we come up with, I'm going to suggest we use the `available` package to determine if 1. the name is taken, and 2. if it is associated with an unintended concept (e.g., something found on urbandictionary.com). For an example of using `available`, check out Emil Hvitfeldt's package creation workflow: https://www.hvitfeldt.me/blog/usethis-workflow-for-package-development/#before-creati

[2019-06-15 17:31] wetlandscapes commented on #9
metabutter

[2019-06-15 17:32] wetlandscapes commented on #9
metavisualization
metavis
metaviz

[2019-06-15 17:35] wetlandscapes commented on #9
Basically, I like things that start with "meta" because it illustrates a thematic link between the packages. This could eventually be formalized by releasing a `metaverse` package.

[2019-06-15 17:46] clnsmth commented on #9
[Link to list of candidate package names in Hackathon-Central-2019](https://github.com/IMCR-Hackathon/Hackathon-Central-2019/issues/14)

[2019-06-15 20:54] wetlandscapes commented on #8
I made a new branch, which folks can use for the development of the app. Feel free to branch the development branch for individual tasks. For more on branching and merging, I suggest the following page: https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging.

Here is the code I used to make the development branch, as well as the output generated (yes, my computer's name is CareBe

[2019-06-15 22:40] clnsmth commented on #1
Done! (see README.md Acknowledgements).

[2019-06-15 22:40] #1 closed

[2019-06-15 22:51] clnsmth commented on #2
Everyone is aware development has relocated to here. For all intents and purposes functions have migrated, or will.

[2019-06-15 22:51] #2 closed

[2019-06-15 22:53] clnsmth commented on #6
The function `data_package_copy()` does this.

[2019-06-15 22:53] #6 closed

[2019-06-15 22:58] clnsmth opened #25 "Use Codecov to track test coverage"
[Codecov](https://codecov.io) is a great way to understand what features of your code are covered by unit tests.

[2019-06-15 23:11] wetlandscapes commented on #3
As of ab8dac2645f39a76ece0bcf1deee83fdcb4c4c6e, there is now basic data ingestion functionality. There are still a number of issues that need to be fixed, though:

- Keep app from downloading data package if it is the same doi link that was already downloaded.
- Add some control flow for dealing with empty doi input. Causes app to crash if the doi is empty.
- Check what happens if the doi is inapp

[2019-06-15 23:33] wetlandscapes commented on #4
I added a temporary message that says "Loading..." while a data package is downloading. Haven't figured out how to get the console to print to the app yet.

[2019-06-15 23:37] #25 closed

[2019-06-16 02:14] sheilasaia commented on #6
@wetlandscapes not sure if you saw this but I think it'll be helpful for the app's "save doi data" functionality.

[2019-06-16 15:15] clnsmth commented on #10
The in-depth guide will be a vignette. I've initialized __/vignettes/interactive_report.Rmd__ for this purpose.

[2019-06-16 16:02] clnsmth commented on #18
Hi team,

Let me know when your function is complete and I'll work with you to develop an appropriate set of unit tests.

[2019-06-16 16:09] clnsmth opened #26 "Create vignettes"
I have three vignettes in mind to demonstrate use of our app:

1.) Overview - What the project is and how it improves exploration of data repo contents, as well as the two general features of the app (static and interactive reports).
2.) Static report - What it is, why use it, and how to create it.
3.) Interactive report - What it is, why use it, and how to use it.

Once the app is working, I'll d

[2019-06-16 16:14] clnsmth commented on #20
I've set up AppVeyor for our repo and added the build badge to the project README.md.

[2019-06-16 16:14] #20 closed

[2019-06-16 16:56] clnsmth commented on #18
Testing performance of the app as a whole will help users understand wait times and limitations. Seems performance will primarily depend on both data package and data entity (e.g. data table) size. Once we have a beta-version of the app we can test across these two variables to create a user expectation matrix.

[2019-06-16 17:00] clnsmth commented on #3
@wetlandscapes, for the first issue _Keep app from downloading data package if it is the same doi link that was already downloaded._ do you mean download to R's temporary directory or to a local directory on a users computer?

I'll draft a function to address issues 2 and 3 for your review. What would you like the output of this function to be?

[2019-06-16 21:28] wetlandscapes commented on #3
I mean someone might accidentally hit the "Fetch Data" button when they've not updated the doi. So, rather than download the package again, which can take a while, it would make more sense to just return the existing object already loaded in the app.

[2019-06-17 14:55] wetlandscapes opened #27 "Merge the ui and server into a single function"
Though I don't usually like having a single massive function, in the context of shiny apps it seems to make a bit more sense.

Further, once we merge everything together into a single function then we can treat the app like any other function, and move it into the R folder, give it a Roxygen2 skeleton, etc.

[2019-06-17 19:34] clnsmth commented on #27
This issue is related to  #7

[2019-06-17 20:17] CoastalPlainSoils commented on #9
Good thought with the urban dictionary! Wow! Didn't even think of that aspect of things.

[2019-06-17 20:24] CoastalPlainSoils commented on #26
I'm happy to help you on the verbal description/purpose of things as well for the vignettes. Just let me know :)

[2019-06-17 20:34] clnsmth commented on #3
@wetlandscapes, this is how I plan to handle each of the above issues:

1.) Add logic to `data_package_download()` to skip download if the data package already exists in the temporary or user specified directory.

2.) Add logic to `data_package_read()` so when an empty character string (i.e. '') is input to the `data.pkg.doi` the function reads the data package from the temporary directory and ret

[2019-06-17 22:33] wetlandscapes commented on #3
@clnsmth
1. Rather than add the logic to `data_package_download`, I made a wrapper for the function: `data_package_download_wrapper`. However, it is pretty ugly right now, because I was figuring out how to deal with "reactive" and "isolated" variables in shiny. This means the logic is split between the function and the app. I will try to clean-up my mess in the next day or two.

2. I've already in

[2019-06-17 22:40] wetlandscapes commented on #3
Well crap. I've been using `read_data_archived` in my wrapper and just tried to switch over to `data_package_download` and the app no longer works as expected, so I'm going to have to dig into that, as well.

[2019-06-18 12:31] clnsmth commented on #26
Thanks for offering to help @CoastalPlainSoils. Would you like to lead this issue?

[2019-06-18 14:44] clnsmth commented on #11
I suggest this be an optional argument rather than an arbitrary limit to number of rows that can be read in. If performance and wait times are a concern for users, we could address this issue by supplying the user with a status bar (which has proven difficult to do) or inform the user of limitations through an expectation matrix ([suggested here](https://github.com/IMCR-Hackathon/ggplotgui/issues/

[2019-06-18 14:51] clnsmth commented on #5
Hi @sheilasaia, do you mean change the default sample data to a repository data package? If so, I will select a small one and add it to the R package as example data.

[2019-06-18 14:56] wetlandscapes commented on #5
I actually already did this. I didn't realize this was an issue. Check the raw-data and data folders.

[2019-06-18 15:00] clnsmth commented on #3
Sorry for throwing that wrench into the machinery @wetlandscapes. Let me know if you need a briefing on it or want me to revise the functions. A couple changes to the `data_package_read()` that may produce the errors you're encountering:

1.) The output is of class 'list', not 'online_data'. I can change it back, but figured the 'online_data' was not very accurate since the source could be online

[2019-06-18 17:36] sheilasaia commented on #5
Awesome, @wetlandscapes! Thanks for doing this. Can you please add the toy dataset to the package, @clnsmth?

[2019-06-18 17:50] wetlandscapes opened #28 "Improved handling of download location in data_package_download"
I've been playing around with the functionalities of using `data_package_download` and `data_package_read`. When the data.pkg.path is NULL, the two packages play well together, as they download to a controlled location in the temp directory, with a known folder prefix (i.e., '/data_package'). However, if the user specifies a different directory then (e.g., the download.dir argument is not NULL) th

[2019-06-18 17:58] wetlandscapes commented on #5
It's already in the development branch of the package. From the top level of the package, the code for making the example dataset is in `data-raw/data_example.R`. That code was then used to make `data/data_example.rda`, which we can then access when the package loads.

[2019-06-18 19:10] wetlandscapes commented on #5
I'm closing for now.

[2019-06-18 19:16] wetlandscapes commented on #12
For some reason the summary tab does not include all columns in a data set. @ktoddbrown, I think you might have wrote that code. Any chance you could look over it?

[2019-06-18 19:23] wetlandscapes commented on #4
@sheilasaia would you be willing to give this a shot? Or are there other things you want to focus on? If it helps, I can provide an overview of the current "ingestion architecture" (for lack of a better phrase).

[2019-06-18 19:33] wetlandscapes commented on #18
References for writing unit tests:
* `testthat` package: https://testthat.r-lib.org/
    * Note that `testthat` and `usethis` are designed to work together. So you can make a new test via: `usethis::use_test("<Name of your test>")`
    * `testthat`'s vignette: https://testthat.r-lib.org/articles/custom-expectation.html
* John Muschelli's (R guru) R Package Development series: https://youtu.be/Uitm

[2019-06-18 19:54] clnsmth commented on #28
Thanks for bringing this feature to discussion @wetlandscapes. Below is an example of how the `data_package_download()` and `data_package_read()` functions work together.

[code]

I think the main issue here is deciding whether to download data packages to sub-directories of a user specified parent directory (the current implementation) or to download the data package to the specific directory spe

[2019-06-18 20:43] clnsmth commented on #5
One thing to consider @wetlandscapes and @sheilasaia is whether the data_example.rda object enables demonstration of all the app features. If not, then we may want to consider adding the downloaded data package files to the R package.

[2019-06-18 20:45] wetlandscapes commented on #5
Maybe I misunderstood? Could you elaborate?

[2019-06-18 21:15] clnsmth commented on #5
Nope @wetlandscapes, I misunderstood. Using the `data_example.rda` object makes perfect sense for the default data package.

[2019-06-18 21:15] #5 closed

[2019-06-19 02:30] CoastalPlainSoils commented on #10
Sure I will do my best based upon what we discussed and have put together so far.

[2019-06-20 19:28] wetlandscapes opened #29 "ggplot inputs need to handle columns with spaces and other special characters"
I was testing out the data package at doi:10.6073/pasta/dd7955138eb963a847b861242390a48c and discovered that the Plot tab (and therefore the Interactive Plot) can't handle columns names with spaces in them. Error being generated:

![image](https://user-images.githubusercontent.com/18599142/59875904-390f7000-935f-11e9-92d1-dd0c18217bd5.png)

__Possible solution__
This could potentially be fixed by

[2019-06-20 20:27] sheilasaia commented on #4
I can work on this @wetlandscapes!

[2019-06-20 20:38] sheilasaia commented on #14
More info about using the `here` package for defining paths (that are agnostic of operating system), see this blog post: https://malco.io/2018/11/05/why-should-i-use-the-here-package/

[2019-06-20 20:50] sheilasaia opened #30 "add doi download code block to "r-code" tab"
just an idea, what do you think @wetlandscapes?

[2019-06-20 21:04] sheilasaia opened #31 "make edi doi entry conditional - shows up on "raw_data" tab only"

[2019-06-20 21:16] jhp7e commented on #14
For the plot of time vs all the numerical variables which is too large for the space allocated in the report.  That might be better handled in a separate markdown chunk towards the end of the report . As a separate chunk you could make the graphs larger to accommodate that large, complex task.

[2019-06-20 21:22] wetlandscapes opened #32 "Display static report as html in gui"
It may be possible to display the static report in an iframe once the html is generated. This could be accompanied by a "download" button that downloads the html report. I'm not sure the the html can be held in an R object (using, perhaps, a `textConnection`) or if it must be a physical file. If it needs to be a physical file then it could potentially be saved using `tempdir` and visualized from t

[2019-06-20 21:51] wetlandscapes commented on #30
Great idea! Looks like that bit of code is in the `server.R`  file under the "GENERATE R-CODE FOR OUTPUT" section.

If you wanted to get fancy, I bet you could use regex or `stringi`/`stringr` to replace the code generated with `string_code` to add the actual name of the R objects that would be relevant to the user.

[2019-06-20 22:41] clnsmth opened #33 "Set up GitHub 'Projects'"
This will enable prioritization and ordering of issues.

[2019-06-20 22:44] clnsmth opened #34 "metajam enhancements"
A list of enhancements to the `metajam` project. Care must be taken to accord with maintainer preferences. [We will use this fork to develop from](https://github.com/clnsmth/metajam).

[2019-06-20 22:51] clnsmth opened #36 "Handle unreadable data objects"
Not all data objects can be read by `data_package_read()`. Perhaps a default value should be assigned to the data objects that can't be read (e.g. "Sorry, data_object_name.ext is an unsupported data type and cannot be read at this time.") so the UI can inform the user of this issue. What do you think @wetlandscapes, @ktoddbrown, @sheilasaia, @lkuiucsb ?

[2019-06-20 22:56] clnsmth commented on #17
Hi @atn38, what is the status of atomizing the static report functions? I'm happy to lend a hand if you need one.

[2019-06-20 23:49] ktoddbrown commented on #27
Done in PR #39 #38 #37 #35 Everything seems to work as well as it did before hand. Documentation is still needed.

[2019-06-21 00:04] wetlandscapes commented on #27
Impressive!

[2019-06-21 05:25] wetlandscapes commented on #4
Well I had a major brain wave on how to do this as I was going to bed. My idea seems to have worked using the `shinyjs` package mentioned in the SO link above. The app now prints the download messages to the console as of fb9b402. Sorry if I'm getting in your way. I'll try to restrain myself from here on out. I just get really excited sometimes.

[2019-06-21 14:55] #4 closed

[2019-06-21 15:00] sheilasaia commented on #3
@wetlandscapes and @clnsmth, let me know if and how I can help with this! if it's fixed, maybe we can close the issue?

[2019-06-21 15:02] wetlandscapes commented on #3
Oh, yeah, I updated the code I was using and forgot to mention it here. So, yes, this is done.

[2019-06-21 15:02] #3 closed

[2019-06-21 19:20] atn38 commented on #17
Hello @clnsmth,

The hackathon's nature makes it so that the functions written by static team are by themselves quite atomized already! 😋

Ultimately, we should export two functions. It would be nice if users can use them from within the R pkg independent of the GUI. Names, of course, might change.

- `make_var_report`: my hope is that once the user has chosen a data entity, the GUI will include a

[2019-06-21 20:56] atn38 opened #40 "data_package_download and long file paths"
`data_package_download` gives this warning when used with this DOI `doi:10.6073/pasta/ef77fb0348fc0d31e7d3875c947aaa4e`

[code]

End results is only data file gets copied over to directory specified in `download.dir` argument while metadata files -- whose names are longer -- do not make it. This is probably a Window-specific issue (260 characters limit to file paths).

If I use `metajam::download_

[2019-06-21 20:56] atn38 opened #41 "data_package_download and long file paths"
`data_package_download` gives this warning when used with this DOI `doi:10.6073/pasta/ef77fb0348fc0d31e7d3875c947aaa4e`

[code]

End results is only data file gets copied over to directory specified in `download.dir` argument while metadata files -- whose names are longer -- do not make it. This is probably a Window-specific issue (260 characters limit to file paths).

If I use `metajam::download_

[2019-06-21 21:31] sheilasaia commented on #27
@wetlandscapes and @ktoddbrown can we close this or are we still working on documentation?

[2019-06-22 15:34] clnsmth commented on #17
Thanks for this update @atn38.

We all agree that `make_var_report()` and `make_entity_report()` will be accessible to users from within the R pkg independent of the GUI.

My understanding is that we agreed to add the GUI feature you suggest by `make_var_report()` as an enhancement once the core objectives of the project have been completed. I.e. the full static report and the interactive GUI in i

[2019-06-22 15:58] clnsmth commented on #40
Thanks for reporting this issue @atn38. Let me think about this a bit more. It may be that the directory and file naming conventions should change in `metajam` since those outputs are not much less verbose than those of `data_package_download()`.

[2019-06-23 03:50] clnsmth commented on #41
This issue is a duplicate of #40

[2019-06-23 03:50] #41 closed

[2019-06-23 04:03] clnsmth commented on #40
Hi @atn38. I've shortened file paths by:
1.) Removing the DOI from `metajam` named data object directories and the data objects themselves. To access this new feature you will have to update your version of `metajam` (i.e. `remotes::install_github('clnsmth/metajam')`.
2.) Abbreviated parent data package directories when downloading to a users computer. This feature is effective as of b6512aad

I'l

[2019-06-23 16:30] clnsmth commented on #34
__Ignore header lines:__ Some tables have more than 1 header line and can't be read without knowing the exact number. The number of header lines may be extracted from table metadata (if present) and used to parameterize `read_csv()` and friends.

@atn38, do you have a solution for this?

[2019-06-23 16:42] clnsmth commented on #34
__Shorten file names:__ @atn38 pointed out that paths longer than 260 characters can't be easily handled by the Windows OS (see #40). I've made one pass at shortening `metajam` directory and file names with b6512aa, but other measures may be necessary. Is there an alternative output file organization scheme that would accord with `metajam` maintainers? I'll open an issue with `metajam` maintainers

[2019-06-23 16:45] clnsmth commented on #34
__Download of LTER and EDI data packages is not supported:__ [This issue has been addressed here](https://github.com/IMCR-Hackathon/Hackathon-Central-2019/issues/13#issue-454988317), and needs to be submitted as a pull request to the `metajam` project.

[2019-06-23 17:28] clnsmth opened #42 "Send Request for Comment (RFC)"
Identify groups we want feed back from and send them an RFC.

[2019-06-23 17:36] clnsmth opened #43 "Support website integration"
What would it take to integrate our app into a website? This feature was originally set as a post-production-release enhancement.

[2019-06-23 17:58] clnsmth commented on #33
Hi @alesiahallmark, @lkuiucsb, @wetlandscapes, @atn38, @jhp7e, @sheilasaia, @ktoddbrown, @vanderbi, @CoastalPlainSoils

I've set up three [Kanban](https://en.wikipedia.org/wiki/Kanban_board) project boards to help organize our efforts in accomplishing the __alpha-__, __beta-__, and __production-__ releases of our visualization app. A fouth project board lists future enhancements we'd like to imple

[2019-06-23 17:58] #33 closed

[2019-06-23 18:10] wetlandscapes commented on #43
Here are some common methods for running shiny apps on the web:
* Via RStudio: https://shiny.rstudio.com/deploy/
* Via Digital Ocean: https://deanattali.com/2015/05/09/setup-rstudio-shiny-server-digital-ocean/
* Via AWS: https://medium.com/@CharlesBordet/how-to-deploy-a-shiny-app-on-aws-part-1-4893d0a7432f
* EDI/LTER/DataOne server: Would need to talk to IT and the system administrators running th

[2019-06-23 18:11] clnsmth commented on #26
FYI @CoastalPlainSoils, the project metadata and website is built using R packages `codemetar`, `devtools` and  `pkgdown`. General workflow is:

[code]

You'll then need to commit these changes and push to the repo.

[2019-06-24 14:34] atn38 opened #44 "how to deal with large (many observations)"

[2019-06-24 16:20] atn38 commented on #13
mock-up as requested @sheilasaia!

![image](https://user-images.githubusercontent.com/42045942/60035265-0a9cd800-9672-11e9-84e4-78b0771dac00.png)

[2019-06-24 16:51] atn38 commented on #32
Thank you for the suggestion @wetlandscapes. This could be an option if the variable drop-down option (see #13) is not feasible.

[2019-06-24 19:09] atn38 commented on #34
**Convert missing codes (if specified in metadata) to NAs**
Especially in case of numeric codes (e.g. -9999) in numeric columns, leaving these in skews plots and summaries significantly. `metajam` already reads in missing codes if available from attribute metadata. In `make_entity_report` I wrote a [small function here](https://github.com/IMCR-Hackathon/ggplotgui/blob/dev_summary_report/R/use_miss

[2019-06-25 03:38] CoastalPlainSoils commented on #44
Hmmm good question. I have no idea. However, I think if it takes that long to complete, there should definitely be something to let the user know the site is processing the request and if it is possible, the app could give an estimate time frame for completion?!

[2019-06-25 03:43] CoastalPlainSoils commented on #43
With An's question in another thread about processing large datasets, would both of these options run at the same speed or would one be faster than the other? @wetlandscapes

[2019-06-25 04:01] atn38 commented on #17
Hello @clnsmth,

Thank you for the offer! I think the main files containing multiple functions to break up would be `/R/data_entity_summary.R`, `/R/data_variable_report.R`, and `/R/time_detective.R`. If you can take a look that'd be great.

[2019-06-25 04:27] CoastalPlainSoils commented on #29
interesting catch! I have seen some threads online about different R functions to remove white spaces in names. Let me know if you'd like to see any of those resources... Not sure if this is still an open issue or not... @wetlandscapes

[2019-06-25 04:29] CoastalPlainSoils commented on #26
@clnsmth Awesome thank you, I plan to work on this Tuesday evening.

[2019-06-25 04:42] CoastalPlainSoils commented on #31
Question about related to data on the website/app....._(And I apologize if this was already discussed on the call the other day, my apologies I had a meeting come up during that time)._ So in using the app, the user has the option to upload a dataset... what if this dataset is preliminary results of a experiment and that the user just wants to use the EDI tool to observe these preliminary results

[2019-06-25 13:53] clnsmth commented on #44
This issue is a duplicate of #11. Please reference conversations that have happened there.

[2019-06-25 14:10] sheilasaia commented on #31
@CoastalPlainSoils yep, we want to enable the user to upload data too. three options for datasets are (1) use a sample dataset, (2) put in a doi and look at the associated datasets, (3) upload a text file. Does that sound ok? Let @wetlandscapes and I know if you have any other ideas.

[2019-06-25 14:13] clnsmth commented on #34
Thanks for these ideas @atn38

Regarding __Convert missing codes (if specified in metadata) to NAs__, this could be added to `metajam::read_d1_files()` [at line 60](https://github.com/clnsmth/metajam/blob/master/R/read_d1_files.R) (because at this point in the function both the data and metadata have been read, the missing value codes can be determined and replaced column wise), or we could added

[2019-06-25 14:14] #31 closed

[2019-06-25 14:16] clnsmth commented on #44
I'm moving the conversation of #11 here.

[2019-06-25 14:18] clnsmth commented on #44
I suggest this be an optional argument rather than an arbitrary limit to number of rows that can be read in. If performance and wait times are a concern for users, we could address this issue by supplying the user with a status bar (which has proven difficult to do) or inform the user of limitations through an expectation matrix (suggested here) in the package documentation.

[2019-06-25 14:19] clnsmth commented on #11
This conversation has moved to #44

[2019-06-25 14:19] #11 closed

[2019-06-25 14:20] sheilasaia commented on #13
Awesome, @atn38! Thank you for doing this. Maybe you, @wetlandscapes, and I can chat about how to make this work? We'd have to figure out how to figure out how to infer which summary report to choose based on their selection...which I think we'd need to get more info about before we can implement. @clnsmth, can you bring this up at our meeting this week?

[2019-06-25 14:26] sheilasaia commented on #40
@clnsmth and @wetlandscapes I'm noticing that the file names are now showing up strange in the up-to-date version of the development branch app. I'm just jumping into this conversation but will try to work on fixing this issue. Pasting my view below:

<img width="520" alt="Screen Shot 2019-06-25 at 10 23 39 AM" src="https://user-images.githubusercontent.com/12959101/60106688-a04c6c00-9733-11e9-858

[2019-06-25 14:28] sheilasaia commented on #8
@wetlandscapes can we close this?

[2019-06-25 14:32] clnsmth commented on #44
@atn38, since the UI team has figured out how to return messages from a function to the GUI, you could add messages to each static report function to inform the user of status.

Alternatively, as @CoastalPlainSoils suggests, [you may be able to create a progress bar using the `progress` package](https://cran.r-project.org/web/packages/progress/progress.pdf).

[2019-06-25 14:37] clnsmth commented on #17
OK @atn38. I'll get to work on this tomorrow.

[2019-06-25 14:37] sheilasaia commented on #30
@wetlandscapes I like that idea! Going to work on it next. I want to fill in the selected file name and the doi for sure.

[2019-06-25 14:50] clnsmth commented on #31
Interesting question @CoastalPlainSoils. Regardless of where the app is deployed (from a users local machine or on a web-server) the current configuration stores the data in a temporary environment within R that is cleared each time a new dataset is loaded or when the app shuts down after a users session. However, the code is open source so if someone wanted to maliciously harvest a users data (se

[2019-06-25 15:22] sheilasaia commented on #40
@clnsmth proposed a method at the bottom of the data_package_shiny_handler.R function (see commit cded7d5)

[2019-06-25 15:26] clnsmth commented on #40
This is odd behavior @sheilasaia. I'm not sure what's going on inside the GUI, but the data object being passed to it by `data_package_read()` hasn't changed. Please make sure you have the correct version of metajam installed (i.e. `remotes::install_github('clnsmth/metajam') and the most recent versions of `data_package_download()` and `data_package_read()` from the master branch.

[2019-06-25 15:26] atn38 commented on #13
It'd be awesome if you and @wetlandscapes can spare some time. Regardless
of how the data summary tab will look at this stage -- two options **(1.)**
Generate the complete HTML report, put that in an iframe for in-GUI display
(see #32), and include a download button, or **(2.)** Like the Paint mockup
above -- there's still the question of how to get the data+metadata list
objects once it is ingest

[2019-06-25 16:00] atn38 commented on #34
@clnsmth Good point about line 60 of `read_d1_files`. It solves the "we don't know the read function" issue. Shall we open a new issue for missing codes on the main `metajam` branch? I recall there's one open for numHeaderLines already.

[2019-06-25 16:05] clnsmth commented on #12
Hi @atn38, a friendly reminder that re-titling this issue changes it's scope and meaning within the project and possibly creates confusion. The new title implies #32, and thus duplicates an issue, which we want to avoid. Additionally, the original scope of this issue addressed a core feature of the app that the team agreed to implementing before adding the enhancement of integrating the static rep

[2019-06-25 16:06] atn38 opened #45 "use attribute labels, description, units in plots if available"
assigned to @atn38 for static plots.

If EML metadata is available and the fields `attributeLabel`, `attributeDescription`, and/or `unit` are available, use this information to create more informative plots. E.g. column name might be `Wind` but these three EML fields contain for information: `Wind Speed`, `Wind speed in m/s`, and `meterPerSecond`.

[2019-06-25 16:37] clnsmth commented on #28
@wetlandscapes, may I close this issue?

[2019-06-25 16:38] clnsmth commented on #23
@sheilasaia and @wetlandscapes, is this issue still open?

[2019-06-25 16:39] clnsmth commented on #22
@sheilasaia and @wetlandscapes, is this issue still open?

[2019-06-25 16:49] clnsmth opened #46 "Ensure project can be installed as an R package"

[2019-06-26 20:13] clnsmth commented on #17
Hi @atn38, in which branch of the project repo should I conduct this work? Thanks!

[2019-06-26 20:14] atn38 commented on #17
Hi Colin, I've been meaning to ask, thanks for reminding me! I can open a
merge request from dev_summary_report into master so you can do things
there. Would that work?

On Wed, Jun 26, 2019 at 3:13 PM Colin Smith <notifications@github.com>
wrote:

[2019-06-26 20:54] clnsmth commented on #17
Sure @atn38. I'll wait until you've made that merge and I'll begin work soon thereafter.

[2019-06-27 14:34] clnsmth commented on #34
@atn38, IMO we should finish development of our app (at least the beta-release) before proposing changes to `metajam` incase we identify other changes that would modify the ones we already have.

[2019-06-27 17:02] clnsmth commented on #17
@atn38, if created individual .R files for each function listed in `data_entity_summary.R, ` `data_variable_report.R` and `time_detective.R`, ensured I updated any calls to these 3 files in the code base, then deleted them. I've added `roxygen2` metadata blocks as placeholder headers to each function file. Please work with your group to complete these metadata.

@wetlandscapes, does your group hav

[2019-06-27 19:25] #8 closed

[2019-06-27 19:41] #27 closed

[2019-06-27 19:56] wetlandscapes commented on #44
I kind of like the idea of being able to randomly sample a large data set. In that context, some useful options would be:
1. Indicate the % of the dataset (rows) to be explored. There would be an indicator of the resultant rows returned from the sample.
2. Set a seed. This would allow someone to generate the same report twice.

[2019-06-27 20:36] sheilasaia commented on #40
@clnsmth i'll try updating my metajam package as you suggested and see if the issue persists.

[2019-06-27 20:40] #7 closed

[2019-06-27 20:54] sheilasaia commented on #44
add printing to console for data summary tab. @wetlandscapes will give this a go!

[2019-06-27 20:55] sheilasaia commented on #43
Ask about existing shiny servers at other LTERS, etc....

[2019-06-27 20:56] sheilasaia commented on #42
Brainstorm testers below.

[2019-06-27 20:59] #32 closed

[2019-06-27 21:03] sheilasaia commented on #26
Note to selves...import these vignettes into about tab!

[2019-06-27 21:05] sheilasaia commented on #23
add download data button to raw data tab (left panel).

[2019-06-27 21:05] #22 closed

[2019-06-27 21:07] sheilasaia commented on #19
@alesiahallmark what's the status of this issue?

[2019-06-27 21:08] #17 closed

[2019-06-27 21:09] sheilasaia commented on #16
@ktoddbrown what's the status on this? are you thinking you'll include other variable types as well?

[2019-06-27 21:11] #14 closed

[2019-06-27 21:12] atn38 opened #49 "look up appropriate maps and overlay them on plots"
If we have spatial information explicit in the data, it'd be neat to be able to match up the extent of the data with map outlines (maybe from the GADM project, or just the R `maps` package). The spatial plots would provide more context with map outlines. Lat/lon alone might be not that informative.

as discussed with @CoastalPlainSoils and @vanderbi in hackathon

[2019-06-27 21:13] sheilasaia commented on #12
related to issue #23.

[2019-06-27 22:39] clnsmth commented on #9
Hi @sheilasaia, @wetlandscapes , @CoastalPlainSoils, @atn38, @jhp7e, @vanderbi, @lkuiucsb, @alesiahallmark, @ktoddbrown,

It's time to choose a name!

The way this is going to work:
-  (Now until - July 4) Propose 3 candidate names, each as it's own comment in this issue thread.
- (July 5-9) Add a thumbs up to your 3 favorite candidates. The top 3 will go to a run-off election.
- (July 10-11) Add

[2019-06-27 22:43] wetlandscapes commented on #9
metaviz

[2019-06-27 22:43] wetlandscapes commented on #9
metabutter

[2019-06-27 22:46] wetlandscapes commented on #9
metophile
(This one is actually dark humor. Rhymes with something bad. Don't vote for it.)

[2019-06-27 23:39] ktoddbrown commented on #9
sedatr (Suitability Evaluator of DATa-packages in R)

[2019-06-27 23:39] ktoddbrown commented on #9
sedatpacr (Suitability Evaluator of DATa-PACkages in R)

[2019-06-27 23:39] ktoddbrown commented on #9
seguir (Suitability Evaluator GUI for R)

[2019-06-28 14:51] clnsmth commented on #49
Hi @atn38, I added this to the __Enhancements__ project, but maybe this is more essential and should be included in the alpha- or beta-release?

[2019-06-28 15:32] atn38 commented on #49
Colin, I think of it more of a neat feature if we can pull it off.
Definitely not for alpha-release. I can look into it to see if it's
feasible for beta-.

On Fri, Jun 28, 2019 at 9:51 AM Colin Smith <notifications@github.com>
wrote:

[2019-06-28 15:55] atn38 opened #50 "spatial functionality to handle more cases"
goals for the spatial detection and plotting functionalities:

- better detection of spatial variables not named conventionally (e.g. variables not named "lat/lon")
- handle cases where the function detects odd combinations of spatial variables. e.g. (x variables, y variables) = (0, 1), (1, 2), (2, 2). Right now we only handle (0, 0) or (1, 1).
- Handle non-decimal degrees notations better. Perhap

[2019-06-29 12:39] clnsmth commented on #50
Which project does this belong in @atn38?

[2019-07-01 04:04] atn38 commented on #50
At least beta if not enhancements @clnsmth!

On Sat, Jun 29, 2019 at 6:39 AM Colin Smith <notifications@github.com>
wrote:

[2019-07-01 20:35] clnsmth opened #51 "Revisit project license"
We chose a more permissive license than that `ggplotgui` was released under. We should revisit the grounds under which this decision was made, and make the appropriate changes if necessary.

[2019-07-01 21:13] atn38 commented on #9
`dataPACMAN `
Data: (this) PACkage makes Assessment No problem

[2019-07-01 21:28] atn38 commented on #9
`PEASI` as in "easy-peasy"

data Package Evaluation made Accessible in Shiny Interface

[2019-07-01 21:30] atn38 commented on #9
`datapie`

Data Package Interface (for) Evaluation

with this and `metajam`, the `metaverse` is delicious

[2019-07-02 18:10] jhp7e commented on #9
datavue

now you see it!

[2019-07-02 18:10] jhp7e commented on #9
datashot

like a snapshot for data!

[2019-07-02 18:11] jhp7e commented on #9
datapreview

what it does!

[2019-07-03 15:27] clnsmth commented on #9
`repoRover` (repository rover)

Rover:
1.) Wanderer, roamer
2.) A vehicle for exploring the surface of an extraterrestrial body (such as the moon or Mars)
3.) Common name for dog

[2019-07-03 15:27] clnsmth commented on #9
`dataRover`

[2019-07-03 15:40] vanderbi commented on #9
enViznR  (Envisioner)

[2019-07-10 14:42] clnsmth commented on #9
Below are the 3 finalists! Please vote for your favorite by July 11th (midnight).

[2019-07-10 14:43] clnsmth commented on #9
`datapie`

Data Package Interface (for) Evaluation

with this and metajam, the metaverse is delicious 🍰 . Also, easy as pie.

[2019-07-10 14:43] clnsmth commented on #9
`datavue`

now you see it!

[2019-07-10 14:44] clnsmth commented on #9
`dataRover`

Rover:
1.) Wanderer, roamer
2.) A vehicle for exploring the surface of an extraterrestrial body (such as the moon or Mars)
3.) Common name for dog

[2019-07-11 14:58] CoastalPlainSoils commented on #49
Ann: Here are the spatial map links I found when we discussed this at the Hackathon. I think either using the maps library in R or utilizing Google Maps through ggmap could be the most effective. Link to ggmap: https://www.nceas.ucsb.edu/~frazier/RSpatialGuides/ggmap/ggmapCheatsheet.pdf and https://eriqande.github.io/rep-res-web/lectures/making-maps-with-R.html

[2019-07-11 18:12] lkuiucsb opened #52 "how to launch app (before packaging)"
For all your guys, in case you haven't had chance to try this app, here is the start up script, before launching the package.

Here we go (please change the file path accordingly):

library(ggplot2)
library(shiny)
library(shinyjs)
library(readxl)
library(haven)
library(RColorBrewer)
library(plotly)
library(stringr)
library(readr)
library(usethis)

sapply(list.files(pattern=".R", path="../Github/gg

[2019-07-11 18:40] sheilasaia opened #53 "how to make changes to the EDI Hackathon code"
**Please follow these steps when making changes to the EDI Hackathon code moving forward:**
(1) Make sure your master is up-to-date by using "git pull master".
(2) Check that you have the development branch using "git branch", which will list all the branches you can modify (the current branch you are working on will have a little star in front of it). If you don't see the development branch liste

[2019-07-11 18:41] sheilasaia commented on #53
see #52 for sample code on how to run the app

[2019-07-11 18:44] sheilasaia commented on #52
if running in an R project environment, you can change the file paths so they are relative to the .Rproj file in the ggplotgui directory.

[2019-07-11 18:49] sheilasaia commented on #16
@lkuiucsb do you want to take this over? i think it pertains to the issue we talked about today at the meeting (i.e., that we current can't plot some types of variables).

[2019-07-11 18:53] sheilasaia commented on #23
@clnsmth, @atn38, @wetlandscapes - is this issue and #12 still open?

[2019-07-11 18:58] lkuiucsb commented on #16
Sure. I can work on this one. I think once we fix the other issue, hopefully this will be fixed too.

[2019-07-11 19:14] CoastalPlainSoils commented on #10
As mentioned in the call today, I will look at Li's email (which I have received) and run the GUI to draft the quick start guide and as discussed in the call today, I will work with Shelia, Li, and Jason with receiving feedback on the quick start guide. Enclosed below here is the vignette text draft I sent to Colin earlier today.

I know that in my text below I do need to clarify if this will be a

[2019-07-11 19:27] wetlandscapes commented on #23
I think so.

[2019-07-11 19:38] sheilasaia commented on #40
@clnsmth, i just reinstalled your version of metajam and am still seeing long path names in the gui. that is, my photo above still applies and it's hard to know what dataset your picking because the file name gets cut off. @wetlandscapes and @lkuiucsb are you seeing this too when you load data from a doi?

i'm asking about this because i'll need to pass them to the r-code tab. i have some code tha

[2019-07-11 20:18] lkuiucsb commented on #40
I have different view here. On my screen, it shows short file name instead of long one as shown in your photo above). However, I was using this DOI as an example: doi:10.6073/pasta/ef77fb0348fc0d31e7d3875c947aaa4e. What DOI do you use? I am wondering if it has something to do with some particular data package.

[2019-07-11 20:24] lkuiucsb commented on #40
I do want to add an issue here. The files in this doi do not shown in "select file" list. Try this out:  doi:10.6073/pasta/be54fff488ec4d0d6146956b5fff057e

After downloading the files from DOI (seems to work fine), the file names did not pass to the "select file". Instead, the example data was shown in the "select file" list.

[2019-07-11 20:59] sheilasaia commented on #40
i want to correct my previous comment. i don't actually need the shorted named for the r-code tab but am having this issue on the data summary tab with this doi:  doi:10.6073/pasta/b745934d136ce9ca8de26c5063eee86a (Jason posted this as an example a while back, there are three files to select from).

[2019-07-11 22:10] wetlandscapes commented on #10
Great information! Thanks for organizing @CoastalPlainSoils.

I have a couple of organizational comments, but these are just opinions, so do with them what you will:
1. Some of the attribution information (e.g., about EDI, making the app) should be placed else where. There are two tabs in the gui: "Help" and "About". The attribution information should probably go in the "About" tab, while a lot of

[2019-07-11 23:58] lkuiucsb commented on #40
@sheilasaia I think there might be something to do with the package update. Here is my screenshot:
![Untitled](https://user-images.githubusercontent.com/20977133/61092902-09eb9c00-a3fd-11e9-9c71-b730b8a7a0d6.png)

[2019-07-12 13:17] clnsmth commented on #9
`datapie` it is!

[2019-07-12 13:17] #9 closed

[2019-07-12 13:49] sheilasaia commented on #40
@lkuiucsb ahh ok maybe i'll try reinstalling again...so weird!

[2019-07-12 13:55] sheilasaia commented on #44
can i also add that we might want to limit the size of the download to someone's computer too? for example, warn them (and maybe stop download) if they're about to download a huge .shp file.

[2019-07-12 14:06] sheilasaia commented on #40
yay! works for me now! @clnsmth and @atn38, can we close this now?

[2019-07-12 14:43] clnsmth commented on #46
Done!

I've renamed the project and associated GitHub which means you will have to make some changes to your local repo. Follow git instructions:

[code]
At this point you can continue with your regular development routine.

I've added installation instructions to the project level README and updated all documentation.

[2019-07-12 14:44] #30 closed

[2019-07-12 14:48] clnsmth commented on #46
Forgot to mention, that you can now load the package (and any local developments you've made) from within the Rproject with "Ctrl+Shift+L" in a Windows OS and "Cmd+Shift+L" in a Mac OS. This is much simpler and cleaner than frequent installs.

[2019-07-12 14:48] #46 closed

[2019-07-12 14:49] clnsmth opened #55 "Package build: Stale URLs"
@wetlandscapes, @sheilasaia - URLs in `datapie_shiny.R` (formerly `CleverName_shiny.R`) point to the originators GitHub (e.g. line 220) or what appears to be the originators ShinyServer (e.g. line 227). Please update these for our project.

[2019-07-12 14:56] clnsmth commented on #52
No need for this procedure any more since the project can now be installed as a package. See #46.

[2019-07-12 14:56] #52 closed

[2019-07-12 15:08] clnsmth commented on #10
Looks great @CoastalPlainSoils and I second @wetlandscapes comments.

Consider creating this documentation in `/datapie/vignettes` as an .Rmd file, which outputs .html that can be referenced by the GUI.

[2019-07-12 15:09] clnsmth commented on #15
What is this issue about?

[2019-07-12 15:12] clnsmth commented on #19
@alesiahallmark, would you like help with this issue?

[2019-07-12 15:14] clnsmth commented on #28
Is this still and issue @wetlandscapes?

[2019-07-12 15:16] clnsmth commented on #36
What do you think @sheilasaia and @wetlandscapes?

[2019-07-12 15:16] #40 closed

[2019-07-12 15:26] clnsmth commented on #44
I suggest the random sampling and warnings become __enhancements__ to be implemented after the production release. Until then, file size issues can be communicated in the GUI messages and project docs. Note: A user will have to find a data package to use with `datapie` in DataONE first, where the file size information is clearly presented.

[2019-07-12 15:47] sheilasaia commented on #36
Maybe we can discuss as a group at the next meeting whether people think this is alpha or beta, @clnsmth? I'm more inclined to say alpha but could be persuaded if we're trying to get out the package asap/have a soft-release of the package.

[2019-07-12 15:49] sheilasaia commented on #15
@clnsmth we're no longer supporting data pasting into the gui (the original gui had this option) so i'm going to close this issue. ;)

[2019-07-12 15:49] #15 closed

[2019-07-12 20:12] clnsmth commented on #36
IMO this is a basic feature that should be implemented before the public RFC (beta-release) to preempt the question every user will be asking of us (i.e. "Why isn't `datapie` allowing me to view X data object.").

One approach is to offer all data object names to the user for selection in the GUI drop down list, and when an unsupported object is selected, an informative message is returned to the

[2019-07-12 20:26] atn38 commented on #10
@CoastalPlainSoils I edited the section on static reports (edited in bold). Note that functionalities mentioned in italicized text aren't implemented yet 🤷‍♂.

[2019-07-16 14:25] sheilasaia commented on #29
@lkuiucsb what's the status on this? let me know if you need help.

[2019-07-16 14:26] sheilasaia commented on #16
@lkuiucsb what's the status on this? let me know if you need help.

[2019-07-16 14:33] sheilasaia commented on #55
@clnsmth this tab is going to be replaced with info on the edi hackathon so it shouldn't be an issue once we draft something that we want to include about the hackathon goals and our motivation for this project. do you or @vanderbi want to draft something and I can add it in?

[2019-07-16 16:28] lkuiucsb commented on #16
I am on a week-long meeting this week. Probably don’t have time to get to it until later next week. If you have time, go ahead and edit it. I will check in with you later once I have time. @sheilasaia

[2019-07-18 18:30] clnsmth commented on #55
Thanks for the clarification @sheilasaia.

Regarding EDI attribution, I recommend adding this to the project level README.md (the common practice), which would circumvent the need to take valuable real-estate in the UI where this information is not particularly useful.

[2019-07-19 14:30] sheilasaia opened #56 "hex logo ideas"
i was brainstorming hex logos...because you know that's pretty important. here's a first draft. please feel free to critique away!

<img width="327" alt="Screen Shot 2019-07-19 at 10 28 09 AM" src="https://user-images.githubusercontent.com/12959101/61542743-2a74b100-aa10-11e9-8579-ed94eaaef322.png">

[2019-07-19 14:32] sheilasaia commented on #56
I can try making the green numbers a little more transparent. might make it a little easier to read.

[2019-07-19 21:07] clnsmth commented on #56
Great logo Sheila! Yeah, maybe tone down the green, I feel like I’m looking into another universe, and it was making me a bit queasy  ; )

On Fri, Jul 19, 2019 at 07:32 Sheila <notifications@github.com<mailto:notifications@github.com>> wrote:

I can try making the green numbers a little more transparent. might make it a little easier to read.

—
You are receiving this because you are subscribed to

[2019-07-19 21:13] atn38 commented on #56
Does feel like looking into the matrix :)

On Fri, Jul 19, 2019, 14:07 Colin Smith <notifications@github.com> wrote:

[2019-07-25 18:18] sheilasaia commented on #16
@ktoddbrown do you want to work on this instead?

[2019-07-25 18:21] jhp7e commented on #56
I find the half-seen binary code distracting.... Although I like the idea of having the binary data shown. I had been thinking abiout replacing the dimples around the edge of the pie with them might be nice....

[2019-07-25 18:39] sheilasaia opened #57 "enable user upload of personal dataset into gui"

[2019-07-26 21:32] clnsmth opened #58 ""Generate report" requires two clicks to return the report"
First click seems to initiate the processing (as indicated by the message `Loading ...`) but nothing is returned to the "Summary Report" tab until the button is clicked a second time.

The report should be returned automatically after `Loading ...` has completed.

[2019-07-26 21:44] clnsmth commented on #10
Hi @CoastalPlainSoils. Please add the quick start guide to the `quick_start_guide.Rmd` file in the package directory `vignettes`. This will enable .html content rendering that can be easily added to the UI and website.

[2019-07-26 21:44] atn38 commented on #58
I haven't encountered this issue before. It takes one click for me (like in
below GIF). Could it be a timeout issue?
[image: one_click_report.gif]

On Fri, Jul 26, 2019 at 4:32 PM Colin Smith <notifications@github.com>
wrote:

[2019-07-26 22:05] atn38 commented on #58
Adding GIF because emailing didn't work.

![one_click_report](https://user-images.githubusercontent.com/42045942/61983841-8bc7f180-afc7-11e9-9339-da42089357ad.gif)

[2019-07-29 14:24] clnsmth commented on #58
Thanks @atn38. Here's my session info:

[code]

[2019-07-29 15:30] clnsmth opened #59 "Plot tab: Plot refresh"
Plot refresh in the "Plot" tab isn't happening when a new variable is selected. Nor is there a refresh button to perform this task.

[2019-07-29 15:48] clnsmth opened #60 "Interactive plot tab: Range of interest"
The Range of interest slider of the "Interactive plot tab" isn't working.

Session info:
- I'm using the default data
[code]

[2019-07-29 17:14] clnsmth commented on #58
Updating R (3.6.1) and RStudio (1.1.463) fixed this issue.

[2019-07-29 17:14] #58 closed

[2019-07-29 17:53] clnsmth commented on #12
A clarifying question: This issue is related to the "Overall Data Table Report" of the "Summary Report" tab?

[2019-07-29 20:05] clnsmth commented on #36
Data types that cannot be read by `data_package_read()` are now removed from the output list and corresponding notifications are printed to the "Raw Data" tab of the UI.

[2019-07-29 20:21] clnsmth opened #61 "use_missing_code() logic"
Hi @atn38, please test and revise `use_missing_code()` when you get a chance. The logic doesn't seem quite right and was resulting in `data_package_read()` errors. You'll have to uncomment this block of code in `data_package_read()` when it's working again. Thanks!

[2019-07-29 20:38] atn38 commented on #61
Thanks Colin for alerting the issue. What's the `data_package_read` errors?
I'd appreciate the DOI too.

On Mon, Jul 29, 2019 at 3:21 PM Colin Smith <notifications@github.com>
wrote:

[2019-07-30 15:06] clnsmth commented on #61
Sure thing @atn38.

Logic at line 16 of `use_missing_code()` is configured such that the code within this `if` statement will never run. Specifically, use of `in` rather than `%in%`. These errors only occur for data packages containing `attribute_metadata` objects with `missingValueCode` (i.e. the outer `if` logic is working correctly.

`doi:10.6073/pasta/c964ed49ff284dfcaaf53719651da60f` (works)

[2019-07-30 15:12] CoastalPlainSoils commented on #10
Thank you for your comments. I am working on this now. I had some issues trying to figure out how to run the app to complete the documentation. I have the app running now, success! I have finished the "About" tab information and I am working on the Quick Start guide..... I liked the idea of organizing it into the tabs, thank you Jason, and thank you for your edits An. Colin I will try to find that

[2019-07-30 15:52] CoastalPlainSoils commented on #56
I like the logo! Maybe use the "pi" symbol? (you know with the curvy edges instead of straight? If you like the binary code, you put that on the pie crust, make it have some transparency to it and then leave the words on this top? Is there a reason it needs to be a hexagon? If not, here is an idea for you....just a quick sketch but you get the picture :)
<img width="209" alt="image" src="https://u

[2019-07-30 16:13] CoastalPlainSoils commented on #10
Colin: that exact file you referenced is not in the folder. I looked at one of the vignettes documents and I think I might need some guidance to make sure I insert the information correctly.

[2019-07-30 16:16] CoastalPlainSoils commented on #10
In the mean time here is what I have completed for the About tab. Please look over and let me know of any edits, errors, etc.

About Tab

**EDI Data Viewer __“datapie” (because it is so pleasant!)_**

**Information Page**

Background:

Welcome to the Environmental Data Initiative’s (EDI) interactive web application for data description and exploration. This application was developed through the 20

[2019-07-30 17:26] CoastalPlainSoils commented on #10
Here is the Quick Start Guide I have created based upon the tabs and the input received. Please note I will be incorporating this into a .Rmd file, but I am waiting for further instruction before doing so. I tried to play around with the app, but I could not really get the plot or interactive plot to work with the example dataset or the dataset I provided. So when I am able to visualize that I can

[2019-07-30 21:45] atn38 commented on #61
@clnsmth, thanks for the suggestion. I followed it but didn't seem to work. Then I found that there is a mismatch in the second data table in `doi:10.18739/A2DP3X` between the `attributeName` listed in metadata versus the column names in the data. This was the source of the error. I'll rewrite `use_missing_code` to not rely on names in the two places always matching up. Probably will include fuzzy

[2019-07-31 16:01] clnsmth commented on #56
The cross section view could make for a nice alternative @CoastalPlainSoils.

The hex logo is an increasingly common branding practice among R package developers (e.g. https://www.tidyverse.org).

[2019-07-31 16:09] clnsmth commented on #10
@CoastalPlainSoils, `quick_start_guide.Rmd` is in the `/vignettes` directory of the __development__ branch, where contributions to the project are being made (see #53 for guidance).

[2019-07-31 16:20] clnsmth commented on #61
Hi @atn38, the above example will not reproduce the error on the development branch because I commented out the call to `use_missing_code()` in the `data_package_read()` function (see https://github.com/IMCR-Hackathon/datapie/issues/61#issue-474238099).

Yes, incongruence between data and metadata column names makes programmatic workflows challenging! This is a prime example of the role quality me

[2019-08-01 14:08] clnsmth commented on #28
I'm working on this now.

[2019-08-02 14:26] #12 closed

[2019-08-02 14:28] #28 closed

[2019-08-02 14:29] clnsmth commented on #23
I'm working on this now.

[2019-08-02 15:31] atn38 opened #62 "static summary report: print console messages to the UI"
Making an issue because I've been working on it for a bit and yet to make it work, so will take a break now and come back later.

Already attempted: mimicking @wetlandscapes' code structure for printing the fetch data messages to the UI. I have some suspicions as to why it doesn't work in the HTML report case, but not sure how to proceed yet.

[2019-08-02 18:33] sheilasaia commented on #60
It's not working for me with the default data on the plot tab as well.

[2019-08-02 18:45] sheilasaia opened #63 "about tab: needs to be updated to include info on edi and the hackathon"
right now the about tab includes info from the ggplotgui so it needs to be updated to include information on the hackathon. i will brainstorm something and ask for feedback here.

[2019-08-02 18:59] sheilasaia commented on #10
@CoastalPlainSoils do you mind if I use the text you wrote above about the hackathon for the "About" tab? I just noticed that it hasn't been updated. I will add it manually to the app for now but we can talk about how to streamline this with a markdown file, later (maybe beta release). Specifically, the post you made on July 11?

[2019-08-02 21:05] clnsmth commented on #23
This feature has been implemented in the 'Raw Data' tab under the 'Fetch data from DOI' radio button. Once a DOI has been fetched, click 'Save Data' and a file browser will pop-up. Select the directory in which you'd like to save the data package and voila! The data package has been saved there.

[2019-08-02 21:05] #23 closed

[2019-08-02 22:53] clnsmth commented on #36
So much for my "fix". I've commented out this section of `data_package_read()` and am working on a more robust solution now.

[2019-08-03 20:48] clnsmth commented on #34
**Is download_d1_data_pkg() altering file extensions?:** The file `ntl129_3_v6.csv` of `doi:10.6073/pasta/9bced2f6ff81aa30f0f573766c0a410b` is downloaded as `ntl129_3_v6.data`.

[2019-08-03 21:08] clnsmth commented on #63
Related to #55?

[2019-08-03 21:25] clnsmth commented on #36
Take 2.

[2019-08-04 02:11] #61 closed

[2019-08-05 23:24] clnsmth opened #64 "Plot tab: Error, S3 object with class mts/ts"
The "Plot" tab stopped working for default data or any fetched DOI (e.g. doi:10.18739/A2DP3X).

Error message:
[code]

My session info:
[code]

[2019-08-05 23:25] clnsmth commented on #64
This is being worked on at branch `fix_64`.

[2019-08-06 01:39] clnsmth commented on #64
Is anyone else having trouble with the "Plot" tab of the `development` branch?

[2019-08-06 06:15] lkuiucsb commented on #64
I have the same issue that the plot tab on the development branch is not working. I try the fix_64 branch, it seems to work fine there now. However, I can't tell what has been changed between development and fix_64

[2019-08-06 12:30] clnsmth commented on #64
Really @lkuiucsb? I haven't made any changes to `fix_64` yet. Should be identical to `development`.

[2019-08-06 14:11] clnsmth commented on #64
Commit 597d0d4072766be98460b0725248b87b87181824 fixes this issue.

[2019-08-06 14:11] #64 closed

[2019-08-06 14:16] clnsmth commented on #60
I'm working on this at branch `fix_60`.

[2019-08-06 17:43] clnsmth commented on #59
This issue was related to the RStudio version I was running. Updating fixed it.

[2019-08-06 17:43] #59 closed

[2019-08-06 18:50] lkuiucsb commented on #60
I don't think we need the range of interest to work for interactive plot. The function of range of interest is to allow selecting different ranges at the "plot" tab. You can select interactive plot range by cropping the figure. So the range of interest could just fade out when the interactive plot tab is selected.

[2019-08-06 20:24] sheilasaia commented on #63
@clnsmth yeah i suppose it's related to #55. I'll close this one and you close that one! ;)

[2019-08-06 20:24] #63 closed

[2019-08-07 00:06] lkuiucsb commented on #60
This issue is fixed in the kui-development branch

[2019-08-07 00:07] lkuiucsb commented on #29
This issue is fixed in the kui-development branch

[2019-08-07 00:08] #29 closed

[2019-08-07 01:03] clnsmth commented on #29
Great @lkuiucsb. Did you merge these changes into the development branch?

[2019-08-07 01:27] lkuiucsb commented on #16
This seems to be no problem in the Kui-development branch. So I am going to close this one unless you see more issues later.

[2019-08-07 01:27] #16 closed

[2019-08-07 01:36] lkuiucsb commented on #29
@clnsmth I was about to merge and I notice there was a conflict in the merging process. So I pause here for now. I can't tell which part is conflict. Looks like all new changes were done by me. If you know how to solve the conflict issue, let me know and we can work together to merge them. Other than that, I think I fix all the issues that have my name in the kui-development branch.

[2019-08-07 12:10] clnsmth commented on #60
I'm still working on this.

[2019-08-07 13:52] sheilasaia commented on #53
use "git fetch --track origin/<name of branch>" to download a remote branch on your local computer

[2019-08-07 14:40] clnsmth commented on #29
@lkuiucsb, yes let's work together on these merge conflicts fixed. I'll set up a meeting via email.

[2019-08-07 14:47] lkuiucsb commented on #60
The range of interest is working in the kui-development branch. you might want to check it out (before we merge over ) and see if it meets your expectation. To make this work, the input data for the plotly needs to use the subset instead of df_shiny()

[2019-08-07 14:54] clnsmth commented on #53
Hi all,

A reminder that when developing/testing/using `datapie` make sure you're loading the package with `devtools::load_all(".")` from your datapie.Rproj RStudio Console. This produces the common workspace in which we are all developing and the common environment in which package users will operate. Failing to do this can create inconsistencies in the package code we are all working and makes c

[2019-08-07 15:16] clnsmth opened #66 "Undeclared dependencies"
Inconsistencies in dependency handling across developers has led to inconsistent `datapie` performance and a divergent code base. I'm working on this issue now. Please pause on development until it is fixed. Thanks.

[2019-08-08 00:20] clnsmth commented on #55
#63 closes this issue.

[2019-08-08 00:20] #55 closed

[2019-08-08 18:36] sheilasaia commented on #21
see here: https://github.com/IMCR-Hackathon/Hackathon-Central-2019/issues/8

[2019-08-08 20:17] clnsmth opened #67 "Add "metadata" tab"
One feature we may want to implement is a tab containing data package level metadata (e.g. title, abstract, methods, etc.) to inform use.

[2019-08-08 20:18] clnsmth commented on #67
IMO this is a duplication of content that is provided in the landing page of a data package.

[2019-08-08 20:22] clnsmth opened #68 "Create performance matrix"
Create a matrix of data object size vs. feature response times to inform developers where bottle necks are occurring and to inform user expectations.

[2019-08-08 20:26] clnsmth opened #69 "Misc. report outputs"
A lively debate ensued from the proposal of including correlation matrices as a report output, i.e. some consider this stepping into the realm of analysis, which is out of project scope. How do we feel about correlations? Are there other report outputs we'd like to include?

[2019-08-08 20:28] clnsmth commented on #21
We reviewed the list and opened issues for consideration.

[2019-08-08 20:28] #21 closed

[2019-08-08 20:30] clnsmth opened #70 "Merge development into master"
This will mark completion of the alpha-release. Beta-release development will continue in the "development" branch.

[2019-08-08 20:55] clnsmth commented on #10
The quick start guide (above) has been added to the vignette `quick_start_guide.Rmd`. Now it needs to be integrated into the UI Help tab.

[2019-08-08 23:42] clnsmth commented on #66
Done!

[2019-08-08 23:42] #66 closed

[2019-08-08 23:42] clnsmth commented on #60
Done!

[2019-08-08 23:42] #60 closed

[2019-08-08 23:43] clnsmth commented on #70
Nice work everyone! The alpha-release is complete!

[2019-08-08 23:43] #70 closed

[2019-08-09 16:55] atn38 commented on #29
Hello @lkuiucsb and @clnsmth, I am trying out the Plot tab for the sample dataset and got this error when I try to select the variable `DO%`:

[code]

Pretty sure I have the latest datapie version (alpha) and loading via `devtools::load_all()`.

Session info:

[code]

[2019-08-09 17:31] lkuiucsb commented on #29
That was because you choose either scatter plot or boxplot type but you didn't specify the y axis. See the warning message showing that y axis is empty. When you use histogram type, the y axis is missing by default, but when you switch to scatter plot or boxplot, make sure you pick one of the y variable. Or maybe we can add some more specific warning message to make the message easier to understan

[2019-08-09 17:36] atn38 commented on #29
Thanks for the suggestion Li! I tried again, this time selecting the y axis
as well, with the same result:

[image: image.png]

On Fri, Aug 9, 2019 at 12:31 PM Li Kui <notifications@github.com> wrote:

[2019-08-09 17:47] lkuiucsb commented on #29
I can't see the image you posted. But here is the one I have on my screen, take a look. I choose do% as x axis and Date on the y axis. Although the figure itself is not meaningful to look at but at least it shows..... I am wondering what might be different beween us.

![image](https://user-images.githubusercontent.com/20977133/62798350-e9ae0c00-ba92-11e9-8f02-b8f057d17307.png)

[2019-08-09 17:57] atn38 commented on #29
I'm not sure why it would be different. I have the latest check-out from
the "development" branch and (I think) the latest R and RStudio versions.
Are you on a different branch?

On Fri, Aug 9, 2019 at 12:47 PM Li Kui <notifications@github.com> wrote:

[2019-08-09 18:23] atn38 commented on #49
Thanks Jocelyn! I was thinking about this (super duper awesome if implemented) feature and it might be challenging without knowing the coordinate reference system. Sometimes EML metadata might contain clues in `attributeDefinition` , such as "latitude in NAD83 projection". But not all datasets include that information, and if they do, not in a standard way/metadata slot. I'll ruminate more, but ha

[2019-08-09 18:30] lkuiucsb commented on #29
The same as you, I used the development branch. have you used devtools::load_all(".") as Colin mention?

[2019-08-09 18:39] atn38 commented on #29
I figured out why it was different for me! Plot works for DO%, sorry for
the false alarm. What happened was that devtools::load_all() didn't replace
a version of datapie_shiny() I had sourced earlier in R's Global
Environment. Takeaway is to start with a fresh environment each R session,
with rm(list = ls()) for example. Please include in your upcoming
guide @clnsmth.

On Fri, Aug 9, 2019 at 12:56

[2019-08-09 19:07] atn38 commented on #56
Any chance we can display this logo once it's finished at the top-left corner of the GUI, next to or possibly replacing the word "datapie"?

[2019-08-09 19:20] atn38 opened #71 "Better message display when fetching data"
A couple refinements we might want to make:

- Make it more obvious that the data package is fetched and ready. As it is now, the fetching messages might run below the fold for larger packages, and the user isn't alerted that the download is completed. **Proposed solution:** remove the fetching message once complete and display a message prompting the user to choose a data object from the menu.

-

[2019-08-09 19:29] atn38 opened #72 "Error message when DOI is not valid"
If an invalid DOI is entered, the user is not alerted and the "select data object" menu is populated with the sample data. See GIF below. I used `doi:10.1016/S2214-109X(18)30456-X`, which is an article. A more common mistake might be to input a data package DOI not available on DataOne.

![invalid_doi](https://user-images.githubusercontent.com/42045942/62804144-0443ad80-bab2-11e9-9a94-678174696f45

[2019-08-09 19:42] atn38 commented on #19
@alesiahallmark, if you don't mind, I'd like to take a look and incorporate the time functionality as it stands into the report. Let's see if I can reproduce the cool plots you showed at the hackathon 😄 Feel free to expand on it as you have time of course.

[2019-08-09 20:08] atn38 opened #73 "how to report a bug as an issue"
Hi team,

Copying over and a message in our email thread. Feel free to contribute ideas to the template. @clnsmth I have seen fill-in issue templates in other repositories, any ideas how to make one for ours?

A bug report should include these details:

- The problem in detail, with error messages both in the GUI and on the console. Screenshot is good.
- The config in the GUI. for example, what is

[2019-08-09 21:35] atn38 commented on #72
Another instance where the data ingestion fails silently is where a data package DOI is available through DataOne, but have a metadata standard other than EML. (`metajam` only ingests EML metadata at the moment). Example: `doi:10.1575/1912/bco-dmo.652124`.

[2019-08-10 18:57] clnsmth commented on #71
Another option for point 1 is to reverse scrolling and print the most recent message to the top. This preserves potentially useful diagnostic messages delivered during loading.

[2019-08-10 19:23] clnsmth commented on #73
Revised procedures ...

A bug report should include these details:

* The problem in detail, with error messages both in the GUI and on the console. Screenshot is good.
* The config in the GUI. for example, what is selected in the "Raw Data" tab -- this will affect things downstream. Screenshot is good.
* The DOI and specific data table used.
* Describe how you loaded the functions:
  * remotes::i

[2019-08-10 19:24] clnsmth commented on #73
@atn38, feel free to pursue a template. I've never made one.

[2019-08-12 15:45] atn38 commented on #73
Hello @clnsmth, according to Github's tutorial here https://help.github.com/en/articles/creating-issue-templates-for-your-repository one goes to the "Settings" menu to do so. I don't have access to this menu atm.

[2019-08-12 19:00] atn38 opened #74 "app re-downloads data package from same DOI"
Describe the problem:

The app re-downloads and re-ingests the data package from one DOI if
- the user exits out and reopens the GUI, putting in the same DOI each time (same R session, different GUI session).
- the user, after looking at one data package (DOI 1), downloads another (DOI 2), and then inputs DOI 1 again (same R session, same GUI session).

Proposed solution: app should look for and l

[2019-08-12 19:12] atn38 commented on #19
as of commit e82eef7b72cb8ea9993b01c4031d59bb872d6463 data frequency plots for Date- and POSIX-type columns are incorporated into the static report. I haven't figured out how to use the `time_detector` functionality, so these plots will only show up where columns can be natively detected as DateTime. Will continue tinkering with this in the `attempt_19` branch.

[2019-08-12 19:26] atn38 opened #75 "refactor/rework some components of summary report"
These components are originally code written by @jhp7e and @CoastalPlainSoils, so with your permission I'd like to refactor this codebase to address some inconsistencies (see example below) and improve code for best practices (style, argument defs, documentation etc) in anticipation of the beta-release.

Example bug: One function (`SummaryTable3()`) detects no categorical variables, but the subseq

[2019-08-13 00:38] clnsmth commented on #68
I've rounded up data objects of varying size (~100 MB intervals) form data packages in the EDI Data Repository. I'll test performance times of `datapie`'s UI features once they've been tuned up a bit more. [Here's the matrix](https://docs.google.com/spreadsheets/d/183bJKinDcjqRQGZn0px_HDFqzEivVwlfWyVhvAZk_wI/edit?usp=sharing).

[2019-08-13 13:16] clnsmth commented on #73
I've updated your account permissions @atn38. Do you have access now?

[2019-08-13 14:45] atn38 commented on #73
Works great, I just added a bug report template. Thanks Colin!

On Tue, Aug 13, 2019 at 8:16 AM Colin Smith <notifications@github.com>
wrote:

[2019-08-13 17:23] atn38 commented on #45
Another label-related enhancement: clip and/or abbreviate long axis labels

[2019-08-14 20:01] sheilasaia commented on #56
How about this version, @CoastalPlainSoils @clnsmth @atn38 @jhp7e?
![datapie_hex_final](https://user-images.githubusercontent.com/12959101/63052153-a4cc1000-beac-11e9-9f5c-9e3adf57b695.png)

I don't have time to make a side-view version, but you're welcome to have a go at it, @CoastalPlainSoils! I like it! Goes well with `metajam`.

[2019-08-15 13:18] clnsmth commented on #56
Nice @sheilasaia!

[2019-08-15 17:09] jhp7e opened #76 "Issues Reading CSV Files with Headers"
There are several issues associated with files containing header lines (which should be skipped based on the numHeaderLines tag in EML).

1) Data Tab: Reads in OK, but misinterprets header lines as data lines - so the column names are wrong.

2) Report Tab: "**Error:** cannot open the connection" shows up when trying to generate the summary report on a PC for a file with headers.

The error messag

[2019-08-15 17:13] jhp7e commented on #56
I also love the new one!

[2019-08-15 18:45] lkuiucsb opened #77 "remove right panel in the report tab"
The report figures were constrained by the existence of right panel. Need to remove

[2019-08-16 14:00] clnsmth commented on #77
Just looked at the code. The report doesn't have a right panel but seems to be constrained by the main (center) panel, which has consistent dimension throughout all UI tabs. Solution might be to create a conditional statement within the `mainPanl()` (~line 163) for the report dimensions.

[2019-08-16 14:04] clnsmth commented on #76
Should probably implement this fix as a `metajam` enhancement.

[2019-08-16 14:06] clnsmth commented on #76
Related to #34.

[2019-08-16 15:37] atn38 commented on #75
This is ongoing. Some aspects I've done so far:
- Added Roxygen comments to these functions.
- Add or remove functions from exports as I think is appropriate.
- Rename arguments or refactor functions to use different arguments similar to `datapie`'s other functions.
- Rename some functions to be more clear at a glance.
- Work in these changes in the larger context (wrapper functions, report templa

[2019-08-19 21:30] atn38 opened #78 "download button gives report file without extension"
**Describe the bug**
During our last meeting, when John clicked on the "download report" button, the pop-up prompt gave a file name of "download_report" without extension. John had to add the ".html" extension manually to the file in order to open in browser.

I have not been able to reproduce this bug on my system. Please comment if you encounter this.

**Expected behavior**
Report files should h

[2019-08-20 00:28] sheilasaia commented on #77
@clnsmth, i can work on this. i'm thinking we probably only need the right panel for the plot and interactive plot tabs. does that sound ok?

[2019-08-20 00:58] lkuiucsb commented on #77
@sheilasaia Yes, that was what we discuss: keeping the right panel for the plot and interactive plot tabs only.  I haven't had time looking into it. If you want to give it a try, please go ahead.

[2019-08-20 01:51] sheilasaia commented on #77
After looking into this, I made the main panel a little wider and the right panel a little narrower but think it's going to be tough for us to completely remove the right panel from the non-plot-related tabs without really changing how the shiny app UI code is written (i.e., using `fluidPage(fluidRow(column(...)))` rather than the current `fluidPage(sidebarPanel(width = X,...))`. There might be a

[2019-08-20 14:22] clnsmth commented on #78
I can't reproduce @jhp7e's issue.

I'm running Mac OS X El Capitan Version 10.11.6

My R session info:

[code]

[2019-08-20 14:35] clnsmth commented on #77
@sheilasaia, could you revert the `development` branch back to the state before you merged this work, and keep the work in a separate branch for folks to review and discuss?

[2019-08-20 14:50] sheilasaia commented on #77
@clnsmth, sure! sorry about that!

[2019-08-20 14:56] sheilasaia commented on #77
I hope that worked....

[2019-08-20 14:58] sheilasaia commented on #77
@clnsmth if you could give me any specifics about how it was showing up on your computer that would be helpful.

[2019-08-20 15:02] CoastalPlainSoils commented on #75
Sorry I've been busy with some research and things before the semester starts. Of course I am fine with you changing/editing the code I originally helped to author.

[2019-08-20 15:08] CoastalPlainSoils commented on #78
I am able to get a report generated from the sample data on the website/app.

However when I upload a dataset, and try to generate a report or download it, the app indicates "sorry, we don't currently support report generation for user-uploaded data" which I'm sure is something you all are likely aware of.

[2019-08-20 15:13] atn38 commented on #78
Jocelyn, that's correct. User-uploaded data doesn't have the metadata
structure that the report relies on at the moment.

On Tue, Aug 20, 2019 at 10:08 AM Jocelyn Wardrup <notifications@github.com>
wrote:

[2019-08-20 15:17] CoastalPlainSoils commented on #69
Correlation matrices could be interesting.... I think that since a debate occurred (and rightfully so), maybe add a disclaimer under these types of charts (if they are added) indicating "this is a code generating results of the supplied data and does not by any means supplement or supersede review by a scientist/data manager". This disclaimer could also be added elsewhere on the app/website. Howev

[2019-08-20 15:19] CoastalPlainSoils commented on #57
Yes this would be so useful!!!!

[2019-08-20 15:20] CoastalPlainSoils commented on #56
I like the new one!!! Great work Shelia!!!!

[2019-08-21 16:07] atn38 commented on #67
It just occurred to me that it'd be easy and potentially helpful to print out the "summary_metadata" and "attribute_metadata" tables, if present in a `metajam` output list structure. These can live in the report with all the other neato tables.

[2019-08-21 16:58] atn38 commented on #36
@clnsmth, `doi:10.6073/pasta/ea5c14e500ab121b254ee99f47a8affb` cannot be read into the GUI because parsing failed for `.data` type files. Is this issue still relevant?

[2019-08-21 18:02] sheilasaia commented on #67
I like that idea @atn38  (of adding them to the report) because I think we already have a lot of tabs and I think adding more might get confusing and will also make the layout look funny on smaller screens.

[2019-08-22 13:09] clnsmth commented on #34
__Attempts at reading non-tabular shouldn't be made:__ `metajam` tries parsing .R files as tabular data (e.g. https://github.com/IMCR-Hackathon/datapie/issues/36#issuecomment-523551169).

[2019-08-22 13:11] clnsmth commented on #36
Yes, this issue is still relevant @atn38. But rather than trying to address this on our end, it may be simpler to address this in `metajam`.

[2019-08-22 13:25] clnsmth commented on #67
IMO metadata should be made clearly and quickly available in a tab rather than being squirreled away in the report, which often takes time to produce.

The "metadata" tab could replace the "About" tab, which contains project level information that is better placed in the project level README or package level DESCRIPTION files.

[2019-09-27 18:48] #78 closed

[2019-09-27 20:13] clnsmth commented on #10
Working on this now in the `fix_10` branch.

[2019-09-27 21:10] atn38 commented on #76
A pass at resolving this issue via enhancements to `metajam`: https://github.com/clnsmth/metajam/commit/60fcf2594f3699e77547a477dac9d52bcec65c6c.

Re-install `metajam` from @clnsmth's fork via `devtools::install_github("clnsmth/metajam")` to fix issue in your local copy of datapie.

[2019-09-27 21:57] atn38 commented on #34
Summary of progress on the various standing `metajam`-related enhancements and fixes so far:

- Substitute missing codes as specified in EML with NAs: implemented in `datapie::use_missing_code()`, which is called in `data_package_read()`.
- Use number of header lines as specified in EML as number of lines to skip when parsing CSV: implemented in @clnsmth's fork of `metajam`.
- Sometimes CSV files

[2019-09-27 21:58] #76 closed

[2019-09-27 22:22] #75 closed

[2019-09-27 23:57] clnsmth commented on #10
In addition to the primary scope of this issue, the`About`  tab contents will be relocated to the repo level README.md and the package level DESCRIPTION file.

[2019-09-30 22:52] clnsmth commented on #10
Merged branch `fix_10` into the `development` branch (see e20f5a99a493ffdcb326369a663d49209f427677).

[2019-09-30 22:52] #10 closed

[2019-09-30 22:59] clnsmth commented on #26
Working on this now at branch `fix_26`.

[2019-10-01 19:25] clnsmth commented on #26
Done (see 57999e7ce7cd3842206b9cd964a169d7a26079e3).

NOTE: Screen shots will have to be updated prior to production release.

[2019-10-01 19:25] #26 closed

[2019-10-01 19:31] clnsmth commented on #53
Until automated testing is implemented with sufficient coverage, we are opting for a manual test of datapie UI functionality. So, before merging your work into master, please contact me and @atn38 for approval. One of us will perform the tests and let you know if it's OK to merge.

[2019-10-01 19:48] clnsmth commented on #53
Manual testing protocol:

- Use sample data and quickly check that each tab is populated with expected content. In depth testing of UI functionality is done in the next step.
- Load data from DOI (doi:10.6073/pasta/b66da575549dcfe19dc404949613049b)
  - Exercise all functionality available in each tab of the UI and evaluate whether it's responding as expected.

[2019-10-01 19:51] clnsmth commented on #72
Working on this now at branch fix_72.

[2019-10-02 17:46] atn38 commented on #36
working on this in branch `fix_36`

[2019-10-02 23:30] clnsmth commented on #36
https://github.com/IMCR-Hackathon/datapie/issues/72#issuecomment-520888432 is more closely related to the work being done here, and will therefore not be resolved by fix_72.

[2019-10-02 23:44] clnsmth commented on #72
Done (see b45c2f54e8bdbcb6b85d830fb7f4d3d1a6244dea).

[2019-10-02 23:44] #72 closed

[2019-10-03 00:02] clnsmth commented on #57
Working on this now at branch **fix_57**.

[2019-10-03 04:25] clnsmth commented on #57
All datapie functionality,  except the summary report, has been extended to local data files.

[2019-10-09 21:23] clnsmth opened #84 "Update UI aesthetics"
A general clean up of UI appearance (e.g. font type and size, plot dimensions, etc.).

[2019-10-09 21:25] clnsmth commented on #84
Working on this now at branch fix_84.

[2019-10-09 23:33] clnsmth commented on #84
Done for now (see eb592dcf3dd353b6b12db6be216a2cce1ba25c40). We'll likely make another pass at this before going to production.

[2019-10-09 23:33] #84 closed

[2019-10-11 18:31] clnsmth commented on #42
Drafting some RFC materials in [this Google Doc](https://docs.google.com/document/d/1bhFvkNSqto04TFwYWBOXjU3DxNdodpQUDQcqCtt3sYY/edit?usp=sharing).

[2019-10-11 21:34] atn38 commented on #57
report generation for user-uploaded data is now in place in fix_57

[2019-10-11 21:41] atn38 commented on #84
would it make sense to add a "welcome" panel at the lower left on the Data tab, beneath the "Data loading options"? It's the first thing people see. Super condensed information: here are the three main things we offer (report, plot, interactive plot), maximize app window for best visuals. Ok, this is motivated mostly by the latter point, but having a two-liner orientation on the landing might be g

[2019-10-11 21:45] atn38 commented on #13
The app has moved enough away from this direction at this point, so I'm closing this.

[2019-10-11 21:45] #13 closed

[2019-10-11 21:53] atn38 commented on #34
Update on `.data` files issue: commit a2e24fc5ed69aab097967a1614a930c7a9a0096f solves this issue via using `data.table::fread` on ".data" files where they actually are CSV files.

At current stage if I'm not mistaken, all identified and proposed enhancements have been implemented either at clnsmth/metajam or here in datapie. Only thing is to test them, of course.

[2019-10-11 22:00] atn38 commented on #77
Taking a stab at this via branch fix_77.

I'm gonna try two approaches:
- a rather significant change: using `navbarPage()` instead of `fluidPage()` as the top-level layout grid. See [this Shiny grid layout guide](http://shiny.rstudio.com/articles/layout-guide.html) for the difference.
- wrapping the sidebarPanel inside the mainPanel. Right now they are level with each other.

[2019-10-12 16:36] clnsmth commented on #84
IMO if the UI design doesn’t inherently communicate this info, then it is too complex and needs simplification. A user should be presented with an intuitive UI requiring minimal direction.

How about adding this text at the top of the Help tab?

On Fri, Oct 11, 2019 at 14:41 An T. Nguyen <notifications@github.com<mailto:notifications@github.com>> wrote:

would it make sense to add a "welcome" pane

[2019-10-14 17:17] clnsmth commented on #57
Nice @atn38!

[2019-10-14 23:47] #57 closed

[2019-10-15 19:20] clnsmth commented on #77
At fix77b, I'll try full screen width report/plot/interactive-plot tabs and move the controls to the top or bottom of the report/plot area.

[2019-10-16 21:12] clnsmth commented on #77
A prototype of the "full screen width" version is now available at fix_77b.

[2019-10-16 23:31] clnsmth commented on #68
I'm beginning performance tests now.

[2019-10-17 18:33] atn38 opened #86 "consider swapping the sample data"
The sample dataset has three columns with no data and a categorical column with one value. A dataset with a good mix of column types might illustrate our app better.

[2019-10-17 18:43] clnsmth commented on #86
I completely agree @atn38.

[2019-10-18 01:04] clnsmth commented on #77
Hey folks we have 2 options for fixing this issue and would like to know which you prefer:

1.) Remove only the right panel (currently empty space) of report tab to extend the report width by the width of the right panel (branch "fix_77").
2.) Move the left and right panels to the top so the report and plot areas are maximized to the full width of the screen (branch fix_77b).

If you'd like to tes

[2019-10-18 01:06] clnsmth commented on #77
Preview of Option 2:
![option_2](https://user-images.githubusercontent.com/25492069/67058215-b201b700-f108-11e9-8339-cef898587cbe.gif)

[2019-10-18 20:51] vanderbi commented on #77
I really like this layout!

[2019-10-22 17:51] ktoddbrown commented on #77
I also really like the stacked layout instead of the side-to-side.

[2019-10-25 18:01] clnsmth opened #87 "Function exposure"
From @wetlandscapes email:

_How many of the underlying functions should we expose to the user? That is, this package really only has one function that a user will likely care about: datapie_shiny(). But if you look at the documentation, there are a bunch of other (very crafty) functions. However, if we want to encourage use of this package, it may be worth simplifying the R interface by just focu

[2019-10-25 20:57] atn38 commented on #87
I've been documenting my functions and add the @export tag to them if I
judge them to be of possible interest to the user, and of course only
functions set up to have inputs and outputs that make sense.

On Fri, Oct 25, 2019 at 1:01 PM Colin Smith <notifications@github.com>
wrote:

[2019-10-29 21:58] clnsmth commented on #77
Alright folks, we're going with the larger plot/report option (branch fix_77b), but should try to incorporate a smaller rendering of the plot when setting parameters so the user can see how it changes (i.e. @jhp7e's suggestion for collapsible controls).

[2020-01-13 23:12] clnsmth commented on #77
branch fix_77b has been merged into the development branch.

Additional features that were implemented:
- **Removal of the static plot  tab** Maintaining both static and interactive plot tabs is superfluous, especially in light of the substantial performance gains provided by adopting the plotly library.
- **Adoption of the plotly library** Adopting this library as the sole plotting library for th

[2020-01-13 23:12] #77 closed

[2020-01-13 23:26] clnsmth commented on #68
I'll update the matrix in light of #77

[2020-01-13 23:28] clnsmth opened #88 "Better messaging when configuring a plot"
Cryptic error messages aren't helpful. Should we suppress these, translate them, or do something else?

[2020-01-13 23:31] clnsmth opened #89 "Coerce date and time formats within UI"
Add date and time options within the X and Y variable coercion drop down?

[2020-01-13 23:35] clnsmth opened #90 "Other plot types to implement within the UI"
[Here's the menu](https://plot.ly/r/). Which should we implement?

[2020-01-17 20:46] atn38 commented on #88
I'd say translate, but only if there are <10 possible common errors. Otherwise suppress. Not sure if we can do something else.

[2020-01-17 21:37] atn38 opened #91 "download and parsing fail for fairly normal data pkgs"
**Describe the bug**

From console

[code]

**To Reproduce**
_How did you load the function(s)?_
- [x] via `devtools::load_all()`
- [ ] via installing `datapie` and calling the function
- [ ] some other way, please describe:

_What DOI and data object did you encounter the bug with?_
DOI: ` doi:10.6073/pasta/038a8ab20a6ffa2044b885c6a999112e`
Data object:

**Expected behavior**
What did you expect

[2020-01-17 21:38] atn38 commented on #71
in issue #91, the GUI still inserts the message `Download and parsing is completed. Select a data object from the left menu to start.` prominently despite download and parsing failure. It shouldn't do that. IIRC I wrote the logic to insert this message, so will need to fix.

[2020-02-26 00:27] clnsmth commented on #34
Pull requests for all currently implemented changes at clnsmth/metajam have been submitted to NCEAS/metajam except the skip lines enhancements [1](https://github.com/clnsmth/metajam/commit/60fcf2594f3699e77547a477dac9d52bcec65c6c#diff-e1e1d3d40573127e9ee0480caf1283d6) and [2](https://github.com/clnsmth/metajam/commit/c8f87d95062f2cc9098e20fb32df2047b4515546#diff-e1e1d3d40573127e9ee0480caf1283d6),

[2020-09-15 02:21] clnsmth opened #92 "Long file names continue to throw errors"
The long directory and file names output by `metajam` and `tempdir()` make many data packages inaccessible. Consider truncating `metajam` returns.